<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Reservas</title>
</head>
<body>
    {% url 'cadastro' as cad %}
    <a href={{cad}}><button>CADASTRAR CLIENTE</button></a>
    <table border="1">
        <thead>
            <tr>
                <th></th>
                {% for dia in dias %}
                <th>{{dia.day}}/{{dia.month}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for r in room %}
            <tr>
                <th>{{r.num_Quarto}}</th>
                {% for dia in dias %}
                <td></td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>



    </table>
</body>
</html>