<!DOCTYPE html>
<html lang="pt-br">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Reservas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'Res_st/res.css' %}">

</head>

<body>
    {% load tagextra %}
    {% url 'cadastro' as cad %}
    {% url 'apagar' as del %}
    {% url 'list' as list %}

    <div class="Bota">
        <div class="Bus">
            <div><a href={{cad}}><button class="btn btn-primary">CADASTRAR CLIENTE</button></a></div>
            <div><a href={{del}}><button class="btn btn-primary">LIMPAR</button></a></div>
            <div><a href={{list}}><button class="btn btn-primary">LISTAR CLIENTES</button></a></div>
        </div>
        <div class="Legends"><img class="Resol" src="{% static 'Res_st/Legendas.png' %}"></div>
    </div>


    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead class="table-dark">
                <tr>
                    <th></th>
                    {% for dia in dias %}
                    <th>{{dia.day}}/{{dia.month}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for r in room %}
                <tr>
                    <th>{{r.num_Quarto}}</th>
                    {% for dia in dias %}
                    <td class="datatable">
                        {% if r.ocupacao_set.all %}
                        {% for oc in r.ocupacao_set.all %}
                        {% if dia|checkin:oc %}

                        {% if oc.fk_tipooccup.tipo_occup == 'Reservado' %}
                        <button class="Bola" data-bs-toggle="modal" data-bs-target="#mymodal"
                            data-bs-cli="{{oc.fk_cliente}}" data-bs-num="{{oc.fk_cliente.telefone}}"
                            data-bs-st="{{oc.fk_tipooccup}}" data-bs-quarto="{{r.fk_tipoQuarto}}" data-bs-id="{{oc.id}}"
                            data-bs-clid="{{oc.fk_cliente.id}}"></button>

                        {% elif oc.fk_tipooccup.tipo_occup == 'Pre-reservado' %}
                        <button class="Bola2" data-bs-toggle="modal" data-bs-target="#mymodal"
                            data-bs-cli="{{oc.fk_cliente}}" data-bs-num="{{oc.fk_cliente.telefone}}"
                            data-bs-st="{{oc.fk_tipooccup}}" data-bs-quarto="{{r.fk_tipoQuarto}}"
                            data-bs-id="{{oc.id}}" data-bs-clid="{{oc.fk_cliente.id}}"></button>


                        {% else %}
                        <button class="Bola3" data-bs-toggle="modal" data-bs-target="#mymodal"
                            data-bs-cli="{{oc.fk_cliente}}" data-bs-num="{{oc.fk_cliente.telefone}}"
                            data-bs-st="{{oc.fk_tipooccup}}" data-bs-quarto="{{r.fk_tipoQuarto}}"
                            data-bs-id="{{oc.id}}" data-bs-clid="{{oc.fk_cliente.id}}"></button>


                        {% endif %}
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                    </td>
                </div>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


    <div class="modal fade" id="mymodal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Null</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="tele">
                        null
                    </div>
                    <div class="status">
                        null
                    </div>
                    <div class="quarto">
                        null
                    </div>
                </div>
                <div class="modal-footer">
                    <a id="update"><button class="btn btn-primary" type="button">Atualizar</button></a>
                    <a class="btn btn-danger" id="del">Deletar</a>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>


    <script src="{% static 'Res_st/res.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>


</body>

</html>