<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Cliente</title>
</head>
<body>
    {% url 'reservas' as reserv %}
    <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}
            {{field}}
        {% endfor %}
        <button type="submit">CADASTRAR</button>
    </form>
    <a href={{reserv}}><button>VOLTAR</button></a>
</body>
</html>